body {
  margin: 0%;
  text-align: center;
  font-family: "Gideon Roman", cursive;
  margin-bottom: 0%;
}
h1 {
  font-size: 562.5%; /*** 16px=100%=1em ***/
  margin: 50px auto 0 auto;
}
.desig {
  font-size: 2.5rem;
  color: #058a8a;
}
h3 {
  color: #11999e;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  width: auto;
}
.cloud1 {
  position: absolute;
  right: 300px;
  top: 20%;
}
.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.name {
  font-family: "Satisfy", cursive;
}
.desig {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
}
.footer-link {
  color: #11999e;
}
.skill-row {
  margin: 100px auto 50px auto;
}
.python {
  border-radius: 100%;
  height: 150px;
}
.webdev {
  height: 150px;
}
.photography {
  height: 150px;
}
.profile {
  width: 50%;
  margin: auto;
}
h2 {
  color: #11999e;
  font-size: 2.5rem;
}
.hello {
  font-family: "Sacramento", cursive;
  font-weight: bolder;
  font-size: 50px;
}
.bottom-container {
  background-color: #11999e;
  padding-top: 30px;
}
.footer-link {
  color: black;
}
.contact-me {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
.copyright {
  margin-bottom: 0px;
}

a:hover {
  color: white;
}
a {
  color: black;
}
.content{
  text-align: center;
  padding: 7% 5% 2% 7%;
}
#aboutme,#contact,#skills{
  text-align: center;
}
.middle-container{
  text-align: center;
}
.brand-nam{
  font-family: 'Pacifico', cursive;
  font-weight: bolder;
}